hr {
  border-top: 1px solid var(--ion-color-light-tint);
  margin: 48px 0;
}

.avatar-flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;

  img {
    object-fit: cover;
    background: var(--ion-color-light);
  }
}

.avatar-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;

  h1 {
    font-size: 1.2em;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
  }

  ion-chip {
    width: fit-content;
    margin: 0;
  }

  li {
    margin: 18px 0;
  }
}

.sub-title {
  font-size: 0.8em;
  margin-top: 8px;
  text-align: justify;
}

.description {
  text-align: justify;
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .avatar-flex {
    flex-direction: column;
  }
}
