<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start" *ngIf="config?.languages?.length > 1">
      <ion-button (click)="presentLanguages()">
        <ion-icon slot="icon-only" name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button href="https://www.linkedin.com/in/thonyfd/">
        <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
      </ion-button>
      <ion-button href="https://github.com/ThonyFD">
        <ion-icon slot="icon-only" name="logo-github"></ion-icon>
      </ion-button>
      <ion-button href="https://api.whatsapp.com/send?l=es&phone=50765839292">
        <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ng-container *ngFor="let section of sections | sortBy:'order':true">
      <ion-grid>
        <ion-row class="ion-justify-content-center" *ngIf="section.isHead">
          <ion-col size-lg="9" size-sm="12" size-md="9">
            <app-profile-card [slot]="section"></app-profile-card>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-align-items-center" *ngIf="section.hasHeading">
          <ion-col size="2">
            <hr/>
          </ion-col>
          <ion-col size="auto">
            <ion-button fill="clear" color="medium">
              <ion-icon slot="icon-only" [name]="section.icon"></ion-icon>
              <span class="ion-margin-start">{{section.label}}</span>
            </ion-button>
          </ion-col>
          <ion-col size="2">
            <hr/>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center" *ngIf="section?.slots?.length">
          <ion-col [sizeLg]="section.sizeLg || 4" size-sm="12" size-md="5" class="classic-container no-height-grow" *ngFor="let app of section.slots | sortBy:'order':false">
            <app-profile-card [slot]="app"></app-profile-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
</ion-content>
