<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start" *ngIf="config?.languages?.length > 1">
      <ion-button (click)="presentLanguages()">
        <ion-icon slot="icon-only" name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button href="https://www.linkedin.com/in/thonyfd/">
        <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
      </ion-button>
      <ion-button href="https://github.com/ThonyFD">
        <ion-icon slot="icon-only" name="logo-github"></ion-icon>
      </ion-button>
      <ion-button href="https://api.whatsapp.com/send?l=es&phone=50765839292">
        <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ng-container *ngIf="!loaded">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col 
                size-lg="9" 
                size-sm="12" 
                size-md="12" 
                sizeXs="12"
                class="classic-container"
              >
                <ion-list>
                  <ion-list-header>
                    <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
                  </ion-list-header>
                  <ion-item>
                    <ion-thumbnail slot="start">
                      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-thumbnail>
                    <ion-label>
                      <h3>
                        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                      </h3>
                      <p>
                        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
                      </p>
                      <p>
                        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
                      </p>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-grid>
                  <ion-row class="ion-justify-content-center ion-align-items-center">
                    <ion-col>
                      <hr />
                    </ion-col>
                  </ion-row>

                  <ion-row class="ion-justify-content-center">
                    <ion-col
                      size-sm="12"
                      size-md="5"
                      class="classic-container no-height-grow"
                    >
                    <ion-list>
                      <ion-list-header>
                        <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
                      </ion-list-header>
                      <ion-item>
                        <ion-thumbnail slot="start">
                          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                        </ion-thumbnail>
                        <ion-label>
                          <h3>
                            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                          </h3>
                          <p>
                            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
                          </p>
                          <p>
                            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
                          </p>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                    </ion-col>
                    <ion-col
                      size-sm="12"
                      size-md="5"
                      class="classic-container no-height-grow"
                    >
                    <ion-list>
                      <ion-list-header>
                        <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
                      </ion-list-header>
                      <ion-item>
                        <ion-thumbnail slot="start">
                          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                        </ion-thumbnail>
                        <ion-label>
                          <h3>
                            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                          </h3>
                          <p>
                            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
                          </p>
                          <p>
                            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
                          </p>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                    </ion-col>
                    <ion-col
                      size-sm="12"
                      size-md="5"
                      class="classic-container no-height-grow"
                    >
                    <ion-list>
                      <ion-list-header>
                        <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
                      </ion-list-header>
                      <ion-item>
                        <ion-thumbnail slot="start">
                          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                        </ion-thumbnail>
                        <ion-label>
                          <h3>
                            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                          </h3>
                          <p>
                            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
                          </p>
                          <p>
                            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
                          </p>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                    </ion-col>
                    <ion-col
                      size-sm="12"
                      size-md="5"
                      class="classic-container no-height-grow"
                    >
                    <ion-list>
                      <ion-list-header>
                        <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
                      </ion-list-header>
                      <ion-item>
                        <ion-thumbnail slot="start">
                          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                        </ion-thumbnail>
                        <ion-label>
                          <h3>
                            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                          </h3>
                          <p>
                            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
                          </p>
                          <p>
                            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
                          </p>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
        <ng-container *ngIf="loaded"> 
          <ng-container *ngFor="let section of sections | sortBy:'order':true">
            <ion-grid>
              <ion-row class="ion-justify-content-center" *ngIf="section.isHead">
                <ion-col size-lg="9" size-sm="12" size-md="12" sizeXs="12">
                  <app-profile-card [slot]="section"></app-profile-card>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-grid>
                    <ion-row
                      class="ion-justify-content-center ion-align-items-center"
                      *ngIf="section.hasHeading"
                    >
                      <ion-col size="2">
                        <hr />
                      </ion-col>
                      <ion-col size="auto">
                        <ion-button fill="clear" color="medium">
                          <ion-icon
                            slot="icon-only"
                            [name]="section.icon"
                          ></ion-icon>
                          <span class="ion-margin-start">{{section.label}}</span>
                        </ion-button>
                      </ion-col>
                      <ion-col size="2">
                        <hr />
                      </ion-col>
                    </ion-row>

                    <ion-row
                      class="ion-justify-content-center"
                      *ngIf="section?.slots?.length"
                    >
                      <ion-col
                        [sizeLg]="section.sizeLg || 4"
                        size-sm="12"
                        size-md="5"
                        class="classic-container no-height-grow"
                        *ngFor="let app of section.slots | sortBy:'order':false"
                        (click)="openDetails(app)"
                      >
                        <app-slot-card
                          [slot]="app"
                          [orientation]="section.orientation"
                        ></app-slot-card>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ng-container>
        ></ng-container>
      </ion-col>
      <!--
      <ion-col size="4" class="chatbot">
        <ion-grid class="classic-container chatbox">
          <ion-row>
            <ion-col size="12">
              <ion-list>
                <ion-item>
                  <ion-input aria-label="Email" placeholder="¿Tienes preguntas para mí?"></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    -->
    </ion-row>
  </ion-grid>

  <ion-modal
    [isOpen]="isModalOpen"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
    (willDismiss)="isModalOpen = false"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-button slot="start" fill="clear" (click)="closeModal()">
            <ion-icon color="dark" slot="icon-only" name="close"></ion-icon>
          </ion-button>

          <ion-title slot="end">{{currentSection.title}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <app-slot-card [slot]="currentSection"></app-slot-card>

        <hr />

        <div class="description">
          <div [innerHTML]="currentSection.description"></div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
